.navbar, .navbar-default, .navbar-fixed-top {
	background-color: #FFFFFF;
	font-size: large;
	color: #000000;
	font-family: 'Abel', sans-serif;
}

.navbar-brand {
	font-size: x-large;
	color: #000000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	margin-top: -4px;	
}

.nav, .navbar-nav, .navbar-right {
	margin-right: 25px;
}

.navbar-toggle {
margin-right: 25px;
}

.footer {
	background-color: #FFFFFF;
	color: #5B5B5B;
	font-family: 'Abel', sans-serif;
	text-align: center;
	padding-top: 6px;
	border-top: thin solid #E8E8E8;
}

.form-search-mobile {
	max-width: 130px;
}

h3 {
	padding-top: 10px;
}

#map {
	display: none;
}

