.navbar, .navbar-default, .navbar-fixed-top {
	background-color: #EEEEEE;
	font-size: large;
	color: #000000;
	font-family: 'Abel', sans-serif;
}

.navbar-brand {
	font-size: x-large;
	color: #000000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	margin-top: -4px;	
}

.nav, .navbar-nav, .navbar-right {
	margin-right: 25px;
}

.navbar-toggle {
margin-right: 25px;
}

.footer {
	background-color: #EEEEEE;
	color: #5B5B5B;
	font-family: 'Abel', sans-serif;
	text-align: center;
	padding-top: 6px;
	border-top: thin solid #E8E8E8;
}

.form-search-mobile {
	max-width: 130px;
}

h3 {
	padding-top: 10px;
}

#map {
	display: none;
}
h1,h2,h3,h4,h5 {
	color: #0891E8;
}
.sb-description > h4 {
	color: #FFFFFF;	
}
.input-group-addon {
	min-width: 100px;
    text-align:left;
	background-color: #0891E8;
	color: #000000;
	
}
.datumform {
	min-width: 135px;
}
.anrede {
	margin-left: 30px;
}

#anzahlpersonen {
	font-weight: bold;
}
.navbar-default .navbar-brand {
    color: #0891E8;
}
#map {
        width: 400px;
        height: 400px;
      }
      
      #erneut {
	      display: none;
      }
      #weiter{
	      display: none;
      }
      #formbuch {
	      display: none;
      }
      #formbuch1 {
	      display: none;
      }
      #Offerte1 {
	      display: none;
      }
      #anfragewarten {
	      display: none;
      }
.formnotok {
	border: 1px solid red;
}
#alleseingeben {
	color: red;
	font-weight: bold;
	display: none;
}
#alleseingeben1 {
	color: red;
	font-weight: bold;
	display: none;
}


/* Range Slider gemacht mit: http://www.cssportal.com/style-input-range/*/
	
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}
